####### for 01.preinstall.sh #####
# no of downloads in parallel 1 means no parallel download
ParallelDownloads=5

###### for 02.proxy.sh  #####
## enter your proxy setting ex: http://10.32.0.1:8080/
Proxy=no_proxy

##### for 04.diskpart.sh #####
Drive=/dev/sda
Efi_Size=100M

##### for 08.timezone.sh #####
Region=Asia
City=Kolkata

#### for 09.locale.sh #####
Locale=en_US.UTF-8 UTF-8

##### for 10.network.sh #####
Hostname=tuluarch

##### for 11.rootusr.sh ######
Root_Passwd=0902
User_Name=tulu
User_Passwd=0902
